{% extends '_base.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <h1 class="bg-blue-200">Homepage</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }} </p>
        
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <div>
            <h2>Log In!</h2>
            <a class="bg-blue-600 text-blue-200 visited:text-purple-300" href="{% url 'login' %}">Log in</a>
        </div>

        <div>
            <h2>Sign Up!</h2>
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    {% endif %}
{% endblock content %}